body {
  text-align: center;
  background-color: #000000;
  background-image: url("background.png"); /* Add your own background image */
  background-repeat: repeat;
  background-size: cover;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #f7ff3c; /* Neon yellow */
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #f7ff3c; /* Dim glow effect */
  }
  100% {
    text-shadow: 0 0 15px #f7ff3c; /* Slightly brighter glow effect */
  }
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Neon glow effect */
}

.green {
  background-color: #ff00aa; /* Bright pink */
}

.red {
  background-color: #9a00ff; /* Purple */
}

.blue {
  background-color: #00baff; /* Cyan */
}

.yellow {
  background-color: #00ff0a; /* Bright green */
}

.neon {
  transition: box-shadow 0.3s ease;
}

.neon:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8); /* Slightly increased glow on hover */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.message-container {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#overlay h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem; /* Larger font size */
  margin-bottom: 20px;
  color: #f7ff3c; /* Neon yellow */
  text-shadow: 0 0 10px #f7ff3c; /* Neon glow effect */
}

#overlay p {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem; /* Larger font size */
  margin-bottom: 10px;
  line-height: 1.5;
  color: #f7ff3c; /* Neon yellow */
  text-shadow: 0 0 5px #f7ff3c; /* Neon glow effect */
}
